In [24]:
import pandas as pd

iws = pd.read_csv('iws.csv')

In [25]:
iws

      TraceId       Log        Model  Cost
0           0        AB           AB     0
1           1        AB           AB     0
2           2  ABHIJKLM  ABDEEHIJKLM     3
3           3       ABG          ABG     0
4           4  ABNSRTUO           AB     6
...       ...       ...          ...   ...
1995     1995      ABDE         ABDE     0
1996     1996      ABNO           AB     2
1997     1997       ABC          ABC     0
1998     1998       ABC          ABC     0
1999     1999      ABDE         ABDE     0

[2000 rows x 4 columns]

In [26]:
forbatch = pd.read_csv('finaltest.csv')

In [27]:
forbatch['trace_id'] = forbatch['trace_id'].str.replace('trace_', '').astype(int)

In [28]:
forbatch = forbatch.sort_values(by='trace_id')

In [29]:
forbatch['current_id'] = forbatch['current_id'].str.replace('root', '').str.replace('-', '')

In [30]:
forbatch = forbatch.reset_index(drop=True)

In [31]:
forbatch

,trace_id,current_id,previous_events,alignment,cost_of_alignment
0,0,AB,AB,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0
1,1,AB,AB,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0
2,2,ABDEEHIJKLM,ABHIJKLM,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",3
3,3,ABG,ABG,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0
4,4,AB,ABNSRTUO,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",6
...,...,...,...,...,...
1995,1995,ABDE,ABDE,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0
1996,1996,AB,ABNO,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",2
1997,1997,ABC,ABC,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0
1998,1998,ABC,ABC,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0
1999,1999,ABDE,ABDE,"[{""event"":""A"",""move_type"":""sync""},{""event"":""B""...",0

In [32]:
mismatch_rows = forbatch['current_id'] !=iws['Model']
non_matching = forbatch[mismatch_rows]

In [35]:
non_matching

Empty DataFrame
Columns: [trace_id, current_id, previous_events, alignment, cost_of_alignment]
Index: []

In [33]:
mismatch_rows = forbatch['cost_of_alignment'] !=iws['Cost']
non_matching = forbatch[mismatch_rows]

In [34]:
non_matching

Empty DataFrame
Columns: [trace_id, current_id, previous_events, alignment, cost_of_alignment]
Index: []